<div id="<%= dom_id personal_datum %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First Name:</strong>
    <%= personal_datum.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last Name:</strong>
    <%= personal_datum.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nick Name:</strong>
    <%= personal_datum.nick_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= personal_datum.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= personal_datum.phone %>
  </p>
  <hr>
</div>
